# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.v11.suo
*.suo
*.sdf
*.opensdf

PredatorAndPrey/Debug/
PredatorAndPrey/PredatorAndPrey/Debug/